@use "../helpers/" as *;

.full-cta {
  max-width: rem(1920);
  margin: 0 auto;
  background-color: var(--dark-gray);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include medium {
      grid-template-columns: 1fr;
    }
  }

  &__image {

    @include medium {
      order: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: rem(708);
    padding: rem(40) rem(20) rem(40) fluid(20, 60);
    display: flex;
    flex-direction: column;
    gap: rem(16);
    align-items: flex-start;
    height: 100%;
    justify-content: center;

    h2 {
      color: #fff;
      font-size: fluid(28, 36);
      font-weight: 700;
      line-height: 1.44;
    }
    p {
      color: var(--light-gray);
      font-size: fluid(16, 18);
      font-weight: 500;
      line-height: 1.77;
    }
    a {
      margin-top: rem(24);
      max-width: rem(275);
    }
  }
}
