@use "../helpers" as *;

.base-hero {
  background-position: 60% center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: fluid(40, 185) 0 fluid(40, 154) 0;

  @include large {
    padding-block: fluid(40, 60);
  }

  &__container {

    @media (max-width: rem(1440)) {
      max-width: 55%;
      margin-left: 0;
    }

    @include large {
      max-width: 100%;
    }
  }

  @include large {
    background-image: none !important;
  }

  h1 {
    color: var(--dark-gray);
    font-size: fluid(36, 80);
    font-weight: 700;
    line-height: 1;
    max-width: rem(1000);
    margin-bottom: rem(24);

    @media (max-width: 1440px) {
       font-size: fluid(32, 64);
    }
  }

  p {
    max-width: rem(810);
  }
}
