@use "../helpers" as *;

.base-hero {
  background-position: 60% center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: fluid(40, 150) 0 fluid(40, 125) 0;

  @include large {
    padding-block: fluid(40, 60);
    background-image: none !important;
  }

  &__container {
    @media (max-width: rem(1440)) {
      max-width: 55%;
      margin-left: 0;
    }

    @include large {
      max-width: 100%;
    }
  }

  &__info {
    max-width: rem(416);
    margin-top: fluid(24, 40);

    @include x-small {
      max-width: 100%;
    }

    &-phone {
      margin-bottom: rem(16);


      
    }
    &-row {
      display: grid;
      grid-template-columns: rem(205) rem(179);
      gap: fluid(8, 32);
      @include x-small {
        grid-template-columns: 1fr;
      }

      p {
        color: var(--light-gray);
        font-size: rem(14);
        font-weight: 500;
        line-height: 1.5;
      }
    }
  }

  h1 {
    color: var(--dark-gray);
    font-size: fluid(36, 80);
    font-weight: 700;
    line-height: 1;
    max-width: rem(1000);
    margin-bottom: rem(24);

    @media (max-width: 1440px) {
      font-size: fluid(32, 64);
    }
  }

  p {
    max-width: rem(810);
  }
}
