@use "../helpers" as *;

.icons-slider {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    max-width: rem(749);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    margin-bottom: fluid(40, 60);
  }

  &__header-title {
  }

  &__header-text {
  }

  &__slider {
    overflow: hidden;
    padding: rem(12);
    margin: rem(-12);
  }

  &__wrapper {
  }

  &__slide {
    padding: rem(24) rem(16);
    border-radius: rem(8);
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  &__slide-icon {
    margin-bottom: rem(24);
    max-width: rem(116);
  }

  &__slide-title {
    color: var(--dark-gray);
    text-align: center;
    font-size: rem(20);
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: rem(8);
  }

  &__slide-text {
    color: var(--light-gray);
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.64;
    text-align: center;
    flex-grow: 1;
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__pagination {
    margin-top: fluid(30, 56);
  }
}
