@use "../helpers" as *;

.stepsha {
  padding-block: fluid(40, 80);
  background-color: var(--dark-gray);

  &__container {
  }

  &__header {
    max-width: rem(860);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    margin-bottom: fluid(40, 60);
  }

  &__heading {
    color: #fff;
  }

  &__text {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(40) fluid(24, 33);
  }

  &__item {
    flex: 0 1 rem(200);
    min-width: rem(370);

    @include medium {
      min-width: rem(320);
    }

    @include small {
      flex: 0 1 100%;
      min-width: auto;
    }
  }

  &__item-number {
    color: rgba(246, 246, 246, 0.05);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(246, 246, 246, 0.1);
    font-size: fluid(80, 150);
    font-weight: 700;
    line-height: 1;
    display: block;
    margin-bottom: rem(16);
  }

  &__item-title {
    color: #fff;
    font-size: rem(20);
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: rem(8);
  }

  &__item-text {
    color: var(--light-gray);
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.64;
  }
}
