@use "helpers" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.flexible-page {
  --dark-gray: #223645;
  --light-gray: #7a8a9e;
  --accent: #e1303c;

  font-family: "Poppins", sans-serif;
  overflow: hidden;
  position: relative;

  .text-base {
    font-size: fluid(16, 18);
    color: var(--light-gray);
    line-height: 1.77;
  }
}

.section-container {
  max-width: rem(1620);
  margin: 0 auto;
  padding: 0 rem(20);
}

.heading-base {
  color: var(--dark-gray);
  font-size: fluid(32, 36);
  font-weight: 700;
  line-height: 1.44;
}

.section-spacer {
  --spacer-lg: #{rem(80)};
  --spacer-md: #{rem(60)};
  --spacer-sm: #{rem(40)};

  height: var(--spacer-lg);

  @include medium {
    height: var(--spacer-md);
  }
  @include small {
    height: var(--spacer-sm);
  }
}


.ha-button {
  width: 100%;
      color: #fff;
      text-align: center;
      font-size: rem(14);
      font-weight: 600;
      line-height: 1.42;
      border-radius: rem(4);
      border: rem(1) solid var(--accent);
      background-color: var(--accent);
      padding: rem(14);
      display: block;
      transition: all 0.3s ease;

      @include hover {
        background-color: #fff;
        color: var(--accent);
      }
}

.slider-custom-pagination {
  display: flex;
  position: static;
  justify-content: center;
  column-gap: fluid(8, 16);

  .swiper-pagination-bullet {
    width: fluid(10, 16);
    height: fluid(10, 16);
    background-color: var(--accent);
    margin: 0 !important;
    opacity: 0.5;
    background-color: var(--light-gray);
    &.swiper-pagination-bullet-active {
      background-color: var(--accent);
      opacity: 1;
    }
  }
}