@use "helpers" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
.flexible-page {
  --dark-gray: #223645;
  --light: #eee;
  --light-gray: #7a8a9e;
  --accent: #e1303c;

  overflow: hidden;
  position: relative;

  .text-base {
    font-size: fluid(16, 18);
    color: var(--light-gray);
    line-height: 1.77;
  }

  @include large {
    br {
      display: none !important;
    }
  }
}

.section-container {
  max-width: rem(1620);
  margin: 0 auto;
  padding: 0 rem(20);
}

.heading-base {
  color: var(--dark-gray);
  font-size: fluid(28, 36);
  font-weight: 700;
  line-height: 1.44;
}

.section-spacer {
  --spacer-lg: #{rem(80)};
  --spacer-md: #{rem(60)};
  --spacer-sm: #{rem(40)};

  height: var(--spacer-lg);

  @include medium {
    height: var(--spacer-md);
  }
  @include small {
    height: var(--spacer-sm);
  }
}

.ha-button {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.42;
  border-radius: rem(4);
  border: rem(1) solid var(--accent);
  background-color: var(--accent);
  padding: rem(14);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(12);

  &--white {
    border: 1px solid var(--light);
    background-color: #fff;
    color: var(--accent);

    @include hover {
      border-color: var(--accent);
    }

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%229%22%20viewBox%3D%220%200%2011%209%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M5.33%204.84%201.688%208.559a.6.6%200%200%201-.456.191.6.6%200%200%201-.455-.191l-.59-.63A.64.64%200%200%201%200%207.466.64.64%200%200%201%20.188%207l2.57-2.625L.189%201.75A.64.64%200%200%201%200%201.285.64.64%200%200%201%20.188.82L.777.191A.6.6%200%200%201%201.232%200q.268%200%20.456.191l3.642%203.72a.64.64%200%200%201%20.188.464.64.64%200%200%201-.188.465m5.143-.93a.64.64%200%200%201%20.188.465.64.64%200%200%201-.188.465L6.83%208.559a.6.6%200%200%201-.455.191.6.6%200%200%201-.455-.191l-.59-.63a.64.64%200%200%201-.187-.464A.64.64%200%200%201%205.33%207l2.572-2.625L5.33%201.75a.64.64%200%200%201-.187-.465A.64.64%200%200%201%205.33.82l.59-.629q.107-.081.227-.136A.6.6%200%200%201%206.388%200q.12%200%20.241.055.12.055.201.136z%22%20fill%3D%22%23e1303c%22%2F%3E%3C%2Fsvg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      flex: 0 0 rem(11);
      height: rem(9);
    }
  }

  @include hover {
    background-color: #fff;
    color: var(--accent);
  }
}

.slider-custom-pagination {
  display: flex;
  position: static;
  justify-content: center;
  column-gap: fluid(8, 16);

  .swiper-pagination-bullet {
    width: fluid(10, 16);
    height: fluid(10, 16);
    background-color: var(--accent);
    margin: 0 !important;
    opacity: 0.5;
    background-color: var(--light-gray);
    &.swiper-pagination-bullet-active {
      background-color: var(--accent);
      opacity: 1;
    }
  }
}

.flexible-page #popmake-2794 {
  top: 50% !important;
  transform: translatey(-50%);
  @include large {
    top: 0% !important;
    transform: translatey(0%);
  }
}

